// CONFIGURATION FILE

// Pipeline parameter default values, can be modified by user when calling pipeline on command line (e.g. --ont_reads_fq sample_1.fastq) ##

// Input reference fasta file
params.ref = 'None' 

// Step of pipeline to execute
params.step = 'None'

// Output directory for pipeline results
params.out_dir = "output_directory/" 

// directory of basecalling data
params.basecall_path = 'None' 

// MAPQ filtering threshold for bam files, 0 for no filtering
params.mapq = "0" 

// Quality score threshold
params.qscore_thresh = "9"

// Desired basecall speed 
params.basecall_speed = "hac"

// Desired basecaller modifications
params.basecall_mods = false

// Desired basecall configuration
params.basecall_config = "None"

// Type of read trimming during basecalling ("all", "primers", "adapters", "none")
params.basecall_trim = "none"

// Basecalling demultiplexing
params.basecall_demux = false

// CPU vs GPU basecalling
params.basecall_compute = "gpu"

// Trim barcodes (only counts if demultiplexing is enabled)
params.trim_barcode = "True"

// Add prefix to all output files
params.prefix = "None"

// Which GPU devices to use for basecalling?
params.gpu_devices = "all"


process { 

    // Define local cpu execution

    withLabel: cpu {
        executor='local'
    }
    
    // Define local gpu execution
    withLabel: gpu {
        
        executor='local'
        containerOptions = '--nv'
    }
    
    // Define the singularity containers for each process, will pull containers from the cloud

    // Basecalling
    withName: "(FAST5_to_POD5|BASECALL_CPU|BASECALL_CPU_DEMUX|BASECALL_GPU|BASECALL_GPU_DEMUX|PYCOQC|FILTER_BAM)" {
        container = "library://bernardo-a-heberle/dcnl/ont_methylation:sha256.ff2e107314af69e1c8a9bf01432632d73b30d8525d59c79f78336ef4b8c5cd48"
    }

}



executor {

    queueSize = 50
}

// Point to singularity image with the tools necessary to run the pipeline
singularity {
    
    enabled = true
}

